{% schema %}
{
 "name": "Thanks",
 "settings": [
   {
     "id": "subhead",
     "type": "text",
     "label": "subhead"
   },
   {
     "id": "body",
     "type": "text",
     "label": "body"
   }
 ]
}
{% endschema %}

<div class="thanksPage">
  <div class="backgroundImg">
    <img src="https://cdn.shopify.com/s/files/1/0046/8326/8165/files/bunny.png?1203214314417260576">
  </div>
  <div class="inner">
    <h1>
      Thank You!
    </h1>
    <h2>
      {{ section.settings.subhead }}
    </h2>
    <h3>
      {{ section.settings.body }}
    </h3>
    <a href="/">
      Head Back Home &#9654;
    </a>
  </div>
</div>